/*
	Copyright 2013 Alex Zaddach (mrzmanwiki@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/
.messagebox {
	font-size: 125%;
	padding: 0.5%;
	font-weight: bold;
}

.error {
	border: 3px solid red;
	background-color: #FF7A95;
}
.success {
	border: 3px solid green;
	background-color: #7AFF7A;
}
.notice {
	border: 3px solid #F5F500;
	background-color: #FFFF6B;
	font-size: 110% !important;
}


div.container {
	border-radius:0.5em;
	width:100%;
	margin:0px;
	border:1px solid gray;
	line-height:150%;
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Tool_labs_logo_with_text.svg/150px-Tool_labs_logo_with_text.svg.png');
	background-repeat:no-repeat;
	background-position: 15px 10px;
}
div.bgcontainer {
	border-radius:0.5em;
	/*
	background-image: linear-gradient(right bottom, #FFFFFF 20%, #F7F7FF 60%);
	background-image: -o-linear-gradient(right bottom, #FFFFFF 20%, #F7F7FF 60%);
	background-image: -moz-linear-gradient(right bottom, #FFFFFF 20%, #F7F7FF 60%);
	background-image: -webkit-linear-gradient(right bottom, #FFFFFF 20%, #F7F7FF 60%);
	background-image: -ms-linear-gradient(right bottom, #FFFFFF 20%, #F7F7FF 60%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.2, #FFFFFF),
		color-stop(0.6, #F7F7FF)
	);
	*/
background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0.12, #EBECF0),
	color-stop(0.38, #F7F7F7)
);
background-image: -o-linear-gradient(right bottom, #EBECF0 12%, #F7F7F7 38%);
background-image: -moz-linear-gradient(right bottom, #EBECF0 12%, #F7F7F7 38%);
background-image: -webkit-linear-gradient(right bottom, #EBECF0 12%, #F7F7F7 38%);
background-image: -ms-linear-gradient(right bottom, #EBECF0 12%, #F7F7F7 38%);
background-image: linear-gradient(to right bottom, #EBECF0 12%, #F7F7F7 38%);
}

div.footer {
	border-radius:0.5em;
	padding:0.5em;
	color:black;
	clear:left;
	background-color:#D4D4D4;
}

div.header {
	border-radius:0.5em;
	padding:0.5em;
	margin-left: 192px;
	color:white;
	clear:left;
	background-image: linear-gradient(right top, #90B3D1 20%, #5C5A9E 60%);
	background-image: -o-linear-gradient(right top, #90B3D1 20%, #5C5A9E 60%);
	background-image: -moz-linear-gradient(right top, #90B3D1 20%, #5C5A9E 60%);
	background-image: -webkit-linear-gradient(right top, #90B3D1 20%, #5C5A9E 60%);
	background-image: -ms-linear-gradient(right top, #90B3D1 20%, #5C5A9E 60%);

	background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0.2, #90B3D1),
		color-stop(0.6, #5C5A9E)
	);
}

h1.header {
	padding:3px;
	font-size:150%;
	font-family: "Arial Black", sans-serif;
	margin:0;
}
h2 {
	margin: -0.1em;
	font-size: 225%;
	border-bottom: 2px dotted darkblue;
	padding-bottom: 0.4em;
	padding-left: 1em;
}
div.left {
	font-size:90%;
	line-height:150%;
	float:left;
	width:175px;
	padding:1em;
	padding-left:0;
	clear:both;
	margin-top:130px;
}

div.content {
	border-radius:0.5em;
	margin-left:192px;
	border-left:1px solid gray;
	border-bottom:1px solid gray;
	padding:1em;
	bottom:100%;
	background-color:#E6E6E6;
}

ul.sidebarlinks {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

li.slink {
	background: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Vector-bullet-icon.png) 3pt 2pt no-repeat;
	padding-left: 10pt;
}

h4 {
	padding-left:1em;
	margin-bottom: -1em;
}

a:link {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
td {
	border:1px solid lightgrey;
	border-radius:0.5em;
}
th {
        border:1px solid grey;
        border-radius:0.5em;
}
a.logolink {
	position:fixed;
	left:10px;
	top:10px;
	display:block;
	width:185px;
	height:190px;
}
